Resequence/resq.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SeqNo" type="xsd:int" />
  <xsd:element name="Doc">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="SeqNo"/>
        <xsd:element ref="A"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="A" type="xsd:string"/>
</xsd:schema>